@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home page</h2>



@if (User.Identity.IsAuthenticated)
{
    <div>
        <button type="submit">Log out</button>
    </div>
}
else
{
    <div>
        <p>Enter your name to log in:</p>

        <form method="post" asp-action="LogIn">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />
            @*<label for="password">Password</label>
                <input type="text" id="password" name="password" />*@
            <button type="submit">Log in</button>
        </form>
    </div>
}
